@import "normalize";

////VARIABLES//////
$raleway: 'Raleway', sans-serif;
$oswald: 'Oswald', sans-serif;

body {
  font-family: $raleway;
  margin: 0;
  height: 100%;
}
.title--container {
  background: url('../img/hero.jpg') center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.title--intro {
  font-weight: 400;
  text-align: center;
  padding: 32px 0 0;
  margin: 0;
  font-size: 24px;
}

.title--header {
  font-family: $oswald;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 124px;
  letter-spacing: 50px;
  text-align: center;
  margin: 0;
}

.title--date {
  text-align: center;
  margin: 0;
  font-weight: 400;
  font-size: 24px;
}

.title--year {
  display: block;
}

.content--container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 40px;
}

.txt-note {
  font-size: 12px;
  font-weight: normal;
  font-style: italic;
}
